/*.iml
/*.ipr
/*.iws
/.classpath
/.factorypath
/.idea
/.project
/.settings
/nb*
/release.properties
/target

# These are needed if running in IDE without properties set
/ibderby
derby.log
ftslog.txt
/bin/
.mvn/wrapper/maven-wrapper.jar
/.metadata/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.log
/target/
